@use"../parts/variables"as v;

.about{

    .inner{
        max-width: 1000px;
    }

    .sec-title{
        width: max-content;
        margin: 0 auto;

        &:first-of-type{
            margin-bottom: 1.5rem;
        }
    }

    &__caption{
        position: relative;

        &:last-of-type{
            margin-bottom: 3rem;
        }
    }

    &__text{
        width: 50%;
        background: rgba(255,255,255,.6);
        font-size: clamp(0.75rem, 0.538rem + 0.91vw, 1.625rem);
        white-space: nowrap;
        box-shadow: v.$menu-boxshadow;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        padding: 8px 0 8px 16px;
    }

    .left{
        left: 0;
    }

    .right{
        left: 50%;
    }

    &__swiper{
        width: 70%;
        margin-left: auto;
        margin-right: 0;
    }

    &__imgbox{
        width: 70%;
        margin-left: 0;
        margin-right: auto;
        object-fit: cover;
    }

}