@use"../parts/variables"as v;

.menu{
    background: linear-gradient(to bottom,#99FFFF,#AAFFFF,#CCFFFF);
    padding: 0.5rem 0 3rem;

    .sec-title{
        color: #FFF;
        text-shadow: v.$menu-boxshadow;
        margin-bottom: 2rem;
    }

    &__item{
        background: #FFF;
        text-align: center;
        box-shadow: v.$menu-boxshadow;
        margin-bottom: 3rem;
        font-size: 1.125rem;
        padding-bottom: 1rem;
    }
    &__img{
        box-shadow: v.$menu-boxshadow;
        margin-bottom: 1.5rem;
    }

    &__caption-text{
        margin-bottom: .875rem;
    }

    &__caption-value{
        font-size: .825rem;
        margin-bottom: 1.5rem;
    }

}