@charset "utf-8";

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝共通設定＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    color: #666;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
}

.sec-title {
    font-size: 3rem;
    width: max-content;
    margin: 0 auto 50px;
    padding-top: 60px;
    border-bottom: #0481A2 solid 5px;
    font-family: 'Nothing You Could Do', cursive;
}

h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 50px;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

/* ========================スクロールアップ========================== */
.scroll-up {
    opacity: 0; 
    visibility: hidden;
    transform: translateY(50px);
    transition: all 1s;
  }
  .scroll-up.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝header＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */
.header {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 500;
    /* background-color: rgba(240, 248, 255, .7); */
}

.header.active {
    opacity: 1;
    animation-name: fadeInAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pc-nav {
    display: none;
}

.nav__list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nav__item {
    margin: 0 10px;
    font-size: 1.25rem;
}

.nav__link {
    display: block;
    padding: 5px;
    color: #999;
    position: relative;
}

.nav__list li a:hover,
#g-nav ul li a:hover {
    color: #0481A2;
}

.nav__list li a::after,
#g-nav ul li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background: #0481A2;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);
    /*X方向0、Y方向1*/
    transform-origin: center top;
    /*上部中央基点*/
}

/*hoverの設定*/
.nav__list li a:hover::after,
#g-nav ul li a:hover::after {
    transform: scale(1, 1);
    /*X方向にスケール拡大*/
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝ファーストビューvegas＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */

.vegas-slider {
    min-height: 100vh;
    background-size: cover;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-title {
    font-family: 'Nothing You Could Do', cursive;
    font-size: min(20vw, 96px);
    color: #fff;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝
profile
＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */

.profile-img {
    margin-bottom: 50px;
}

.profile-name,
.profile-title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-name span{
    font-size: 1.25rem;
    margin-left: 5px;
}

.profile-text{
    font-size: clamp(14px,3.6vw,20px);
    line-height: 2.0;
    margin-bottom: 30px;
}

.profile-text:last-of-type{
    margin-bottom: 50px;
}

.profile-list dd{
    font-size: clamp(14px,3.6vw,20px);
    padding-left: 1rem;
    margin-bottom: 15px;
}

.profile-list dd span{
    display: inline-block;
    text-indent: 1rem;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝
skill
＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */



.skill__code,
.skill__design,
.skill__office {
    margin-bottom: 50px;
}

.code-item,
.design-item,
.office-item{
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid #0481A2;
    border-radius: 30px;
    width: 90%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
}

.code-img,
.design-img,
.office-img{
    margin-bottom: 30px;
    padding-top: 20px;
    width: 60%;
}

.code-title,
.design-title,
.office-title{
    margin-bottom: 5px;
}

.code-text,
.design-text,
.office-text{
    font-size: clamp(14px,3.6vw,20px);
    padding: 0 10px;
    margin-bottom: 10px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝design＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝works＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */

.flexitems {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

/* .flexitems figure {
    width: 45%;
    height: auto;
} */


/* 背景が中央から横に出現＋テキスト */


.bgCW {
    position: relative;
    /*テキストの基点となる位置を定義*/
}

.bgCW span.mask {
    position: relative;
    /*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;
    /*行の高さを0にする*/
    overflow: hidden;
    /*拡大してはみ出る要素を隠す*/
}

.bgCW span.mask::before {
    content: "";
    position: absolute;
    z-index: 2;
    background: #333;
    /*背景色*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    /*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: scale(0, 1);
    transform-origin: center;
}

.bgCW span.mask:hover::before {
    /*hoverした時の変化*/
    transform: scale(1, 1);
}

.bgCW span.cap {
    opacity: 0;
    transition: .5s ease-in-out;
    /*移り変わる速さを変更したい場合はこの数値を変更*/
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.bgCW a:hover span.cap {
    /*hoverした時の変化*/
    opacity: 1;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝contact＝＝＝＝＝＝＝＝＝＝＝＝＝＝「 */

.contact{
    text-align: center;
}

.contact p{
    margin-bottom: 40px;
}

.contact address{
    font-size: 1.25rem;
}

footer{
    background: #0481A2;
    text-align: center;
    padding: 10px 0;
}

footer small{
    color: #fff;
}

/* =================================ハンバーガーアイコン==================================== */
.openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    border-radius: 5px;
    z-index: 999;
}

/*ボタン内側*/
.openbtn .openbtn-area {
    transition: all .6s;
    /*アニメーションの設定*/
    width: 50px;
    height: 50px;
}

.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

.openbtn.scroll span {
    background: #999;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/
.openbtn.active .openbtn-area {
    transform: rotate(360deg);
    background: #333;
}

.openbtn.active span {
    background: #fff;
}


.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝nav出現＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
#g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position: fixed;
    z-index: -1;
    opacity: 0;
    /*はじめは透過0*/
    /*ナビの位置と形状*/
    top: 0;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: #fff;
    /*動き*/
    transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
    opacity: 1;
    z-index: 999;
    font-family: 'Nothing You Could Do', cursive;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li {
    text-align: center;
}

#g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: relative;
    /* 下線表示のため*/
}