// 変数準備
$fontColor:#999999;
$menuColor:#CCFFFF;
$mainColor: #CCFFFF;
$accentColor:#FFAFFA;

$menu-boxshadow:0 3px 6px #CCFFFF;
$menu-boxshadow:0 10px 30px rgba 0,0,0,0.0625;

$line-h: 1.8;

$sippori: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
